html {
        height:80%;
        width:100%;
        display: inline-block;
        box-sizing: border-box;
          }
body {
        width:100%;
        height:80%;
        display: inline-block;
        overflow-x: hidden;
        box-sizing: border-box;
        margin: 0px
          }
.wrapper{
        width:100%;
        height: 100%;
        box-sizing: border-box;
            }
.return-button {
        margin-top: 10px;
        display: block;
        position: fixed;
        height: 60px;
        width: 60px;
        background: url(/image/backbtnot.png)center bottom no-repeat;
        background-size: 100% auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        z-index: 1;
            }
    
.return-button-in {
        height: 100%;
        width: 100%;
        display: block;
        text-indent: -9999px;
            }
#main-visual{
        height: 450px;
        background: url(../image/8G4A0892.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;
             }
#main-visual h1
        {
        display: -webkit-flex;
        display: flex;
        text-align: center;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
        -webkit-flex-direction:row-reverse;
        flex-direction:row-reverse;
        position: relative;
        margin: auto;
        height: 550px;
        width: 100%;
        font-size: 300%;
        color: white;
        background-color: rgba(0,0,0,0.1);
              }
#gallery{
        width:100%;
              }
#gallery h2 {
        display: block;
        font-size: 2.1em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        color: #2d2d2d;
        text-align: center;
        padding-top: 40px;
            }
#gallery p {
        padding: 10px 0px;
        color:#2d2d2d;
        text-align: left;
        line-height: 1.7rem;
        font-weight: 200;
        display: inline-block;
        text-align:center;
        width: 100%;
            }
#gallery p:before{
        content: "";
        display: block;
        border-top: 2px solid #2cb4d6;
        width: 245px;
        text-align: center;
        margin: auto;
        padding-top:7%;
            }
#gallery .right{
        float: none;
                }
#gallery .left{
        float: none;
                }

.gallery1{
        width: 100%;
        height:100%;
        padding-top:5%;
        padding-bottom:5%;
        display: inline;
        box-sizing: border-box;
        background-color: white;
            }
.gallery2 {
        width: 100%;
        height:100%;
        padding-top:5%;
        padding-bottom:5%;
        display:block;
        box-sizing: border-box;
        background-color: white;
              }
.gallery3 {
        width: 100%;
        height:100%;
        padding-top:5%;
        padding-bottom:5%;
        display: block;
        box-sizing: border-box;
        background-color: white;
              }             
.gallery4 {
        width: 100%;
        height:100%;
        padding-top:5%;
        padding-bottom:5%;
        display: block;
        box-sizing: border-box;
        background-color: white;
              }             
.gallery5 {
        width: 100%;
        height:100%;
        padding-top:5%;
        padding-bottom:5%;
        display: block;
        box-sizing: border-box;
        background-color: white;
    }
#gallery img{
        width:100%;
        height:60%;  
        display:block;
        padding-top: 10%;
            } 
.access-wrapper {
    width:100%;
    height:525px;
}

.access-title-wrap {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.6);
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    padding: 10px 0;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: columm;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}

.access-title {
    color: white;
    margin: 0 auto;
    padding-right: 22px
}

.access-title .txtJp:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    border-left: 2px solid #2cb4d6;
    margin: 0 20px;
    height: 30px;
}

.access-title .txtJp {
    margin-top: -2px;
    display: block;
    float: left;
    font-weight: 200;
    font-family: 'Noto Sans Japanese';
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
}

.access-title .txtEn {
    display: block;
    float: left;
    line-height: 30px;
}

#map{
    width:100%;
    height:100%;
    position: relative; 
}

