#main-visual {
    height: 550px;
    background: url(../image/8G4A0892.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
}

#main-visual h1 {
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction:row-reverse;
    flex-direction:row-reverse;
    position: relative;
    margin: auto;
    height: 550px;
    width: 100%;
    font-size: 400%;
    color: white;
    background-color: rgba(0,0,0,0.1);      
}

#gallery {
        width: 100%;
}        

#gallery h2 {
    font-size: 2.1em;
    font-weight: bold;
    color: #2d2d2d;
    padding-top: 40px;
}

#gallery p {
    padding: 10px 0px;
    color:#2d2d2d;
    line-height: 1.7rem;
    font-weight: 200;
    text-align:center;
}

#gallery p:before {
    content: "";
    display: block;
    border-top: 2px solid #2cb4d6;
    width: 245px;
    text-align: center;
    margin: auto;
    padding-top:25px;
}

#gallery img {
    width: 52%;
    height:400px; 
    border-radius: 5px;
    object-fit: cover;
} 

.galleryL {
    width: 100%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: left;
    margin: 40px 0;
}

.galleryR {
    width: 100%;
    height:50%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 40px 0;
}

.gctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    text-align: center;
}

@media only screen and (min-device-width:320px) and (max-device-width: 440px) and (orientation: portrait){
   
    #main-visual{
        height: 450px;
        width: 100%;
    }
    
    #main-visual h1{
        font-size: 300%;
    }
    
    #gallery p {
        padding: 20px;
        font-size: 35px;
        line-height: normal;
    }
    
    #gallery h2 {
        font-size: 70px;
    }
    
    #gallery img {
        width: 100%;
        height: 800px;
        border-radius: 10px;
        margin: 30px;
    }
    
    #gallery p:before {
        border-top: 6px solid #2cb4d6;
        width: 400px;
    }
    
    .galleryL {
        width: 100%;
        flex-direction: column;
    }

    .galleryR {
        width: 100%;
        flex-direction: column;
    }

    .gctn {
        width: 100%;
        height: 600px;
    }

}