@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.section-wrapper {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Noto Sans Japanese", sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

div {
    display: block;
}
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    
}

.menu-wrapper {
    width: 100%;
    position: fixed;
    min-width: 1280px;
    top: 10px;
    left: 0;
    z-index: 5;
}

.menu-header {
    display: table;
    width: 100%;
    vertical-align: middle;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
}

.menu-inner {
    display: table;
    width: 100%;
    height: 60px;
    text-align: center;
}

.logo {
    display: table-cell;
    width: 150px;
    text-indent: -9999px;
    background: url(../image/logo.svg) no-repeat center center;
    background-size: auto 85%;
    vertical-align: middle;
}

.logo a {
    display: block;
    height: 100%;
    width: 100%;
}

.Li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 200px;
}

.Li-GlobalMenu {
    float: left;
    margin-right: 35px;
}

.Li-GlobalMenu a {
    font-weight: 700;
    color: #111;
    transition: 0.3s 0s ease;
    transition-property: opacity;
}

.Li-GlobalMenu a:hover {
    opacity: .6;
}

.Li-GlobalMenu:not(:first-child) {
    margin-left: 40px;
}

.menu-Ebutton {
    position: relative;
    float: right;
    
}

.button-top {
    display: table;
    width: 140px;
    height: 60px;
    text-align: center;
    background: url(../image/entrybtn.svg) no-repeat center center;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.4s 0s ease;
    transition-property: background;
}

.button-top span {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.button-top:hover {
    background: url(../image/entrybtnhvr.svg) no-repeat center center;
}
#top {
   padding-bottom: %; /*---background: url(../image/bg.png) no-repeat center center;
    background-size: contain; --*/
}

.inner {
    height: 760px;
}

.title-top {
    width: auto;
    text-indent: -9999px;
}

.catchcopy {
    display: block;
    background: url(../image/catchcopy.svg) no-repeat;
    background-position: center;
    padding-top: 29%;
    width: 56%;
    margin: 0 auto;
}
.float {
    margin: 0;
    z-index: -1;
    position: absolute;
}
.SwayC1 {
    position: absolute;
    background: url(../image/balloonrd.svg) no-repeat;
    left: 44%;
    top: 60px;
    width: 5%;
    height: 5%;
    z-index: -1;
}

.SwayL1 {
    position: absolute;
    background: url(../image/balloonbl.svg) no-repeat center center;
    top: 41%;
    left: 13%;
    /*--- value 35px --*/
    width: 8%;
    height: 8%;
    z-index: -1;
}

.SwayR1 {
    position: absolute;
    background: url(../image/balloonclr.svg) no-repeat center center;
    top: 27%;
    right: 9%;
    /*--- value 35px --*/
    width: 9%;
    height: 9%;
    z-index: -1;
}

.newsreel {
    position: absolute;
    top: 674px;
}

.newsheader {
    position: relative;
    margin: 1% 0 0;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: black;
}

.newsheader-font {
    margin: 0 auto 0 20px;
    font-weight: 600;
}
.news {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 34%;
}

.news-item {
    font-family: "Noto Sans Japanese", sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    height: 30px;
    background: rgba(44,180,214,0);
    transition: 0.4s 0s ease;
    transition-property: background;
    border-bottom: 1px solid;
    border-bottom-color: rgba(204,204,204,.4);
}

.news-item:hover {
    background: rgba(44,180,214,0.2);
    cursor: pointer;
}

.news-item a {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: .9em;
    font-weight: 200;
    
}

.newsitem-meta {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.newsdate {
    display: inline-block;
    letter-spacing: normal;
    padding: 0 10px 0 20px;
}

.newstag {
    min-width: 65px;
    background: #2cb4d6;
    border-radius: 4px;
    color: #fff;
    margin: 10px;
    padding: 2px;
    line-height: 1.4;
    text-align: center;
    font-size: .8em;
    
}

.newsitem-text {
    padding: 0px 12px;
    font-size: 13px
}

/* PM Message */
#PM {
    margin: 75px 0px;
}

.right-line {
			max-width: 3%;
			border-bottom:
			inset 5px #ffffff;
			position:relative;
		}

.left-line {
			max-width:
			300px;
			border-bottom:
			inset 5px #ffffff;
			position:relative;
			top:70px;
		}

	
		.img-max {
		width: 100%;
		padding-left: 0%;
        }

				ul.sample_menu {
		display:-webkit-flex;
		display:flex;
		position: relative;
		top: 50%;
		flex-wrap:wrap-reverse;
		width:100%;
		list-style-type:none;
		margin:0; padding:0;
		}
		/* 白線がよくわからない end 20180213hayashi */

/*---- Job Types ---*/

#jobs {
    width: 100%;
    padding-top: 60px;
    height: 100%;
}

.jobs-wrapper {
    margin: 0 auto;
    display: block;
}

.jobs-ctr {
    margin: 30px auto;
    width: 800px;
    height: 250px;
    border: 2px solid;
}
#jobs .btn1 {
    width: 150px;
    height: 40px;  
    position:relative;top:40%;
    position:relative;left:65%;
    border: 2px solid black;
}

#jobs .btn2 {
    width: 150px;
    height: 40px;  
    position:relative;top:27%;
    position:relative;left:65%;
    border: 2px solid black;
}

#jobs .btn3 {
    width: 150px;
    height: 40px;  
    position:relative;top:38%;
    position:relative;left:65%;
    border: 2px solid black;
}
#jobs .a1{
    font-size:15pt;
    font-weight:bold;
    position:relative;top:10%;
    position:relative;left:30%;
    }
#jobs .a2{
    font-size:15pt;
    font-weight:bold;
    position:relative;top:10%;
    position:relative;left:30%;
    }
#jobs .a3{
    font-size:15pt;
    font-weight:bold;
    position:relative;top:10%;
    position:relative;left:30%;
    }
/*----- Workplace Culture --*/

#workplace {
    width: 100%;
    margin: 50px 0;
    padding: 50px 0;
}

.workplace-wrapper {
    height: 550px;
    background: url(../image/8G4A0892.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.workplace-title-wrapper {
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction:row-reverse;
    flex-direction:row-reverse;
    position: relative;
    margin: auto;
    height: 550px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.workplace-title-contents {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
    width: 400px;
    height: 200px;
    font-size: 45px;
    line-height: 1.2em;
    font-weight: 600;
    margin: 3px;
    border: 3px solid;
    border-color: rgba(255,255,255,0);
    transition: 0.3s 0s ease;
    transition-property: border-color;
}

.btn-workplace-contents {
    width: 150px;
    height: 40px;
    margin-left: 8%;
    margin-right: 10%;
    border: 2px solid white;
    transition: 0.3s 0s ease;
    transition-property: background;
}

.btn-workplace-contents:hover {
    background: white;
}

.btn-workplace-contents:hover ~ .workplace-title-contents{
    border-color: rgba(255,255,255,1);
}

.btn-workplace-contents a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
}

/*----- access --*/
#access {
        width:100%;
        height:900px;
        display: inline-block;
        box-sizing: border-box;
        background-color: darkgray;   
        position:relative;
              }
#access h1{
        font-family:serif;
        color: white;
        float: right;
        margin-right: 30%;
        font-style: bold;
        font-size: 300%;
             }
#map{
        width:100%;
        height:60%
        position:relative;bottom:10%;
          }



=======
<<<<<<< HEAD
>>>>>>> 6e23ebd3e74fd09a71ac5b6ecbdb8c7752189d21
