.jobtype {
     background: url(../image/seng.jpg)no-repeat center fixed;
    background-size: cover;
    color: #383838;
}

.title-box {
    z-index: -1;
    width: 100%;
    position: absolute;
    text-shadow: 1px 1px 8px rgba(0,0,0,.3);
}

.oneday-title {
    margin: 0 auto;
    width: 500px;
}

.oneday-title h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.oneday-title h1:after {
    content: "";
    border-bottom: 2px solid #2cb4d6;
    display: block;
    margin-top: -8px;
    width: 500px;
}

.oneday-title h2 {
    display: block;
    width: 50%;
    color: #2cb4d6;
    text-indent: 5px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 5px;
    font-family: 'Noto Sans Japanese';
    text-shadow: none;
    background: white;
    border-radius: 5px 0;
}

.next-button {
    float:right;
    margin-top: 10px;
    display: block;
    position: fixed;
    right: 0px;
    height: 90px;
    width: 90px;
    background: white;
    z-index: 1;
}

.return-button {
    margin-top: 10px;
    display: block;
    position: fixed;
    height: 90px;
    width: 90px;
    background: url(/image/bckbtn.png) center bottom no-repeat;
    background-size: 90px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.return-button-in {
    height: 100%;
    width: 100%;
    display: block;
    text-indent: -9999px;
}

.next-button-in {
    height: 100%;
    width: 100%;
    display: block;
    text-indent: -9999px;
}


/*----- Better timeline ----*/
#oneday-wrapper {
    padding: 0;
    margin: 0;
}

.wrapper-content {
    height: 100%;
    float: right;
    margin-right: 250px;
    border-left: 3px white solid;
}

.line {
    margin-top: 60px;
}


.dot {
    position: relative;
    width: 0px;
    padding-top: 125px;
    background: #fff
}

.dot::after {
    content: '';
    bottom: 60px;
    position: absolute;
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: inherit;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.08);
}

.dot:last-child {
    margin-bottom: 100px;
}

.dot time {
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    height: 50%;
    width: 125px;
    border-radius: 5px;
    right: -175px;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Noto Sans Japanese';
    color: white;
}

.content-day {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 400px;
    height: 125px;
    padding: 15px ;
    background: rgba(255,255,255,0.95);
    border-radius: 5px;
    left: -500px;
    font-family: 'Noto Sans Japanese';
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6em;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
}

.content-title {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    background: #2cb4d6;
    width: 30px;
    height: 100%;
    left: -25px;
    border-radius: 5px 0 0 5px;
    font-weight: 300;
    font-size: 20px;
    top: 0;
    
}

/*---- Jobs Media Query ---*/

@media only screen and (min-device-width:320px) and (max-device-width: 440px) and (orientation: portrait){
    
    .jobtype {
        background: url(/image/seng_mob.jpg) no-repeat center top fixed;
        -webkit-background-size: cover;    
        background-size: cover; 
    }
    
    .title-box {
        background-color: #2cb4d6;
        width: 100%;
        height: 140px;
        position: fixed;
        z-index: 1;
    }  
    
    .oneday-title h1 {
        font-size: 4.2rem;
        text-align: center;
        text-shadow: none;
        margin-left: 125px; 
    }   
    
    .oneday-title h2 {
        margin: 0 auto;
        font-size: 1.7em;
        color: #fff;
        background: none;
        text-align: center;
        font-weight: 200;
        padding-left: 110px;
    }
    
    .return-button {
        margin: 0;
        height: 140px;
        width: 140px;
        background-size: 140px auto;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
        z-index: 2;
    }
    
    .content-day {
        font-size: 2.2em;
        width: 650px;
        height: 230px;
        left: -750px;
        padding: 35px 35px 0px 35px;
    }
 
    .content-title {
        width: 40px;
        font-size: 30px;
        line-height: 1.3em;
    }
    
    .wrapper-content {
        border-left: none;
        margin: 0;
    }
   
    .dot::after { 
       display: none;
    }
    
    .browser {
        display: none !important;
    }
    
    .time {
        position: absolute;
        top: 10px;
        font-weight: 600;
        font-size: 1em;
    }
    
    .oneday-title {
        width: 800px;    
    }
}