body {
     background: url(../image/weng.jpg)no-repeat center fixed;
    background-size: cover;
    color: #383838;
}

@media only screen and (min-device-width:320px) and (max-device-width: 440px) and (orientation: portrait){
    
    body {
     background: url(/image/weng_mob.jpg) no-repeat center top fixed;
     background-size: contain;    
    }
}