@@ -1,3 +1,7 @@




@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.section-wrapper {
@ -137,7 +141,7 @@ a {

.title-top {
    width: auto;
    text-indent: -9999px;
    text-indent: -999px;
}

.catchcopy {
@ -157,7 +161,7 @@ a {
    position: absolute;
    background: url(../image/balloonrd.svg) no-repeat;
    left: 44%;
    top: 60px;
    top: 80px;
    width: 5%;
    height: 5%;
    z-index: -1;
@ -305,4 +309,423 @@ a {
		list-style-type:none;
		margin:0; padding:0;
		}
		/* 白線がよくわからない end 20180213hayashi */

div.phone {
    display: none;
}

		/* 白線がよくわからない end 20180213hayashi */











/*
responsive web design

*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.phone {
    display: none;
    }    
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ 6s+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 7,8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    
.SwayC1 {
    position: absolute;
    background: url(../image/balloonrd.svg) no-repeat;
    left: 44%;
    top: 7% !important;
    width: 5%;
    height: 5%;
    z-index: -1;
}

.SwayL1 {
    position: absolute;
    background: url(../image/balloonbl.svg) no-repeat center center;
    top: 23% !important;
    left: 53%;
    /*--- value 35px --*/
    width: 24%;
    height: 20%;
    z-index: -1;
}

.SwayR1 {
    position: absolute;
    background: url(../image/balloonclr.svg) no-repeat center center;
    top: 18% !important; 
    right: 9%;
    /*--- value 35px --*/
    width: 9%;
    height: 9%;
    z-index: -1;
}    
        
.catchcopy {
    display: block;
    background: url(../image/catchcopy.svg) no-repeat;
    background-position: center;
    padding-top: 55% !important;
    width: 56%;
    margin: 0 auto;
}
    
    
    
    
    
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


/*
name             phys.width     phys.height   CSS.width    CSS.height    pixel.ratio phys.ppi  CSS.ppi
Apple iPhone X	   1125	           2436	        375	         812	       3	       458	    288
Apple iPhone 6+  	1080	       1920	        414	         736	       3	       401	    288
Apple iPhone 7,8	750	            1334	     375	     667	       2	       326	    192
Apple iPhone 6, 6s	750	            1334	     375	     667	       2	       326	    192
*/


/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}




/* Samsung Galaxy S6/7 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
/* Styles */
}


/* Samsung Galaxy S8/S8+ ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
/* Styles */
}

/*
name                 phys.width  phys.height CSSwidth CSSheight pixelratio  phys.ppi CSS ppi
Samsung Galaxy S8+  	    1440	2960	 360	   740	      4	         529	384
Samsung Galaxy S8	        1440	2960	 360	   740	      4	         568	384
Samsung Galaxy S7, S7 edge	1440	2560	 360	   640	      4	         534	384
Samsung Galaxy S6	        1440	2560	 360	   640	      4	         577	384
Samsung Galaxy S5	        1080	1920	 360	   640	      3	         441	288
*/


