.oneday {
    height: 200vh;
     background: url(../image/8G4A0836.jpg) no-repeat center center;
    background-size: cover;
}

#oneday-wrapper {
    height: inherit;
}

.return-button {
    margin-top: 10px;
    display: block;
    position: fixed;
    height: 90px;
    width: 90px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
    text-indent: -9999px;
}

.return-button-in {
    height: 100%;
    width: 100%;
    display: block;
}

.oneday-line-wrapper {
    height: inherit;
   float: right;
    margin-right: 14%;
}

.oneday-title {
    position: absolute;
}

.oneday-line {
    display: inline-block;
    height: 100%;
    position: relative;
    border-left: 3px solid;
    border-color: rgba(0,0,0,0.5);
}

.dot-block {
    width: 60px;
    display: block;
    text-align: left;
    margin: 200% 0;
}

.line-dot-span{
    text-align: center;
}

.line-dot {
    background: black;
    height: 25px;
    width: 25px;
    border-radius: 90px;
    margin-left: 8px;
}

.day-content {
    position: absolute;
}

.ten {
    float: right;
    width: 600px;
    right: 45%;
    top: 250px;
    height: auto;
}

.oneday-line p{
    text-align: right;
    margin: 0;
    display: inline-block;
}
